<link rel="stylesheet" href="/css/chat_box.css">
<section class="chatting" >
    <div class="chatting-box">
		<div class="message-header">
            <div class="user-name">
				<h3 style="margin-top: 1px; margin-bottom: 10px;">user Name</h3>
			</div>
			<button class="remove-message-box">
	           <i class="fas fa-minus-square"></i>
			</button>
		</div>
      <ul class="messages">
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
				
			</li>

		</ul>
       <div class="mesg-sendd">          
                   
             <input id="messges-input" placeholder="Type something...">
             
             <button id="sent"><i class="fas fa-seedling"></i></button>
       </div>
    </div>
 </section>