<li>
    <small>
        <%=comment.user.name%>
    </small>
    <% if((locals.user)&&(locals.user.id==comment.user.id||locals.user.id==post.user.id)){%>
    <small>
    <a href="comments/destroy/<%=comment.id%>"><i class="far fa-trash-alt"></i></a>
    </small>
    <%}%>
</li> 
    <br>
<li class="comment-content">
    <%=comment.content%>
</li>