<div class="comments">
    <div id="comments">
        <small>
            <%=comment.user.name%>
        </small>
        <% if((locals.user)&&(locals.user.id==comment.user.id||locals.user.id==post.user.id)){%>
        <small>
        <a href="comments/destroy/<%=comment.id%>" id="delete-comment"><i class="far fa-trash-alt"></i></a>
        </small>
        <%}%>
    </div> 
    <br>
    <div class="comment-content">
        <%=comment.content%>
    </div>
    <br>
</div>