
<h1> 
     BizzY/<%=title%>
</h1>
<section>
    <h3>POST</h3>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content"  cols="30" rows="3" placeholder="Type here..."></textarea>
        <input type="submit" value="POST">
    </form>
</section>
