<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/friends.css">
<div id="post-layout">
    <div class="container1">
        <section class="create-post">
            <div class="posting">
              <%if(locals.user){%>
                <h3>HOME</h3>
                <form action="/posts/create" id="new-post-form" method="POST">
                  <textarea name="content" id="post-text" cols="30" rows="3" placeholder=" Write something here..." required></textarea>
                 <br> <div class="submit-post"> <input type="submit" value="POST" id="post-submit"> </div>
              </form>
                 <%}%>
            </div>
            <div class="posts">
                <ul>
                   <%for(post of posts){%>
                    <%-include('_post')-%>
                    <%}%>
                </ul>
            </div>
        </section>
   
    </div>
<div class="container2">

    <div class="notification-bar">
        <h2>Bizzy App</h2>
        <%-include('_chat_box')%>
    </div>
    <div  class="friends">
        <%-include('friends')%>
    </div>
    </div>
</div>
<script src="/js/post_button.js"></script>
<script src="/js/home_comment.js"></script>
<script src="/js/home_posts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>
<%if(locals.user){%>
    <script>
        new ChatEngine('chatting','<%locals.user.email%>')
    </script>
    <%}%>