<link rel="stylesheet" href="/css/user_sign_in.css">
<main>
    <div class="sign-in">
        <h1>Sign In</h1>
        <div class="form-div">
            <form class="sign-in-form" action="/users/create-session" method="POST">
                <!-- Username -->
         
                <input id="email" type="email" name="email" placeholder="Your Email" required>
                <!-- <br> -->
                <!-- password -->
                <input id="pass" type="password" name="password" required>
                <!-- <br> -->
                
                <input id="submit" type="submit" value="Login">
            </form>
            <p>
                <a href="/users/auth/google">Google Sign In/Sign Up</a>
            </p>
        </div>
    </div>
</main>