<h1>Log In</h1>
<form action="/users/create-session" method="POST">
    <!-- Username -->
    <input type="email" name="Email" placeholder="Email" required>
    <!-- <br> -->
    <!-- password -->
    <input type="text" name="password" required>
    <!-- <br> -->
    <input type="submit" value="Login">
</form>