<h1>Signing Up</h1>

<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="Enter your name" required>
    <input type="email" name="email" placeholder="Enter email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="confirmpassword" required>
    <input type="submit" value="SignUp">
</form>