$primary-color:#16181c;
header{
    margin: 0;
    background-color: $primary-color;
    border-bottom:0.2px lightgrey solid;
    background-attachment: fixed;
    position: static;
    .headers{
    font-family: sans-serif;
    color:#e9ebee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10px;
    
    justify-content: space-between;
        div{
            display: inline-flex;
            h2{ 
                border-radius: 5px;
                border: white 1px solid;
            }
        }
        ul
        {
             margin-right: 10px;
            a{
                color: white;
            }
        }
 }
}