$primary-color:#16181c;
header{
    margin: 0;
    background-color: $primary-color;
    border-bottom:0.2px lightgrey solid;
    padding:0;
    width: 100%;
    position: fixed ;
    z-index: 100;
   
    .headers{
    font-family: sans-serif;
    color:#e9ebee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10px;
    
    justify-content: space-between;
       a{ 
        color: white;
        text-decoration: none;
        div{
            display: inline-flex;
            h2{ 
                border-radius: 5px;
                border: white 1px solid;
                
            }
        }
       }
        ul
        {
             margin-right: 10px;
            a{
                color: white;
            }
        }
 }
}