$primarycolor:#f3f3f6;
$secondarycolor:rgb(230, 236, 240);
// $primarycolor:;
#post-layout{
        display: flex;
        padding-top: 64px;
      .container1{
            // border: 0.5px black solid;
            display: flex;
            background-color: whitesmoke;
            
            flex-wrap: wrap;
            flex-direction:row;
            justify-content:center;
            position: relative;
            width: 47%;
            
            .create-post{
                position: relative;
                width: 85%;
                // border-right: 1px solid grey;
                background-color:$secondarycolor;
                .posting{ 
                    // background-image: linear-gradient(90deg,#FF5722 , #009688 );
                    background-color:white;
                    padding: 0;
                    // width: 99.7%;
                    position: inherit;
                    border-bottom:2px solid $secondarycolor;
                    // border-radius:0px 0px 10px 10px;
                
                    z-index: 12;
                    h3{  
                        
                        border-bottom:0.2px solid $secondarycolor;
                        margin: 0px;
                        // left:3%;
                        position: relative;
                        padding: 15px;
                        // color: white;
                    }
                 }
                 .posts{
                    width: 100%;
                    align-items: center;
                    
                   ul{
                       list-style: none;
                       margin: 0;
                       padding: 0;
                       padding: 30px 0px 30px 0px;
                   }
                }                
                #new-post-form{
                    width: 90%;
                    margin:0;
                    padding: 25px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    
                    // z-index: 10;
                    #post-text{
                        width: 80%;
                        border-radius: 5px;
                        &:focus{
                            outline: none;
                        }
                        &::placeholder{
                            margin-left: 20px;
                            
                        }
                
                    
                    }
                    .submit-post{
                        
                        #post-submit{
                            position: relative;
                            background-color: black;
                            color: #e9ebee;
                            width: 50px;
                            padding: 5px;
                            border:0;
                            left: 20%;
                            top: 10%;
                            border-radius: 2px;
                            cursor: pointer;
                        }
                     }
                
                }
            
        }
          
 }
}

