body{
    margin: 0;
    background-color: lightgrey;
    font-family: sans-serif,monospace;
    #header{
        position: sticky;
        z-index: 1;
    }
    .body{
        position: relative;
    }
    .footer{
        position: sticky;
        background-attachment: fixed;
    }
}