body{
    margin: 0;
    background-color: lightgrey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    #header{
        width: 100%;
        position: fixed;
        z-index: 1;
    }
    .body{
        // position: relative;
        width: 50%;
       display: inline-block;
        left: 25%;
        // display: flex;
        // flex-wrap: wrap-reverse;
        // flex-direction: row;
    
    }
    .footer{
        position: relative;
        
    }
   
}