main{   
        display: inline-block;
        position: relative;
        text-align: center;
        width: 100%;
        top: 67px;
        background-color: #ccfcff;
       .user-profile{
                box-shadow: 0px 0px 2px 1px grey;
                width:875px;
                position: relative;
                display: inline-block;
                // height: 100vh;
                background-color: whitesmoke;
                text-align: center;
                box-sizing: content-box;
                .profile-page{
                        position: relative; 
                        text-align: center;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 30px 0px 30px 0px;
                        justify-content: initial;
                        .profile-image{
                                // padding-right: 2%;
                                width: 33%;
                                position: relative;
                                margin-right: 30px;
                        
                                img{
                                        box-shadow: 0px 0px 1px 1px rgba(0,0,0,.25);
                                        border-radius: 100%;
                                        border: 2px wheat ridge;
                                }
                                
                        }
                .user-details{
                        // height: 35px;
                        width: 60%;
                        .name-edit{
                                height: 35px;
                                padding: 10px;
                                display: flex;
                               flex-direction: row;
                               flex-wrap: wrap;
                               justify-content: flex-start;

                            .name{  
                                margin: 0;
                                font-family: sans-serif;
                                font-weight: 500;
                                font-size: 28px;
                             }
            
                          .edit-profile-button{
                                // width: 80%;
                                position: relative;
                                left: 20px;
                                height: 30px;
                                padding: 3px;
                                background-color: transparent;
                                border: 1px solid  black;
                                border-radius: 4px;
                             }
                             .sett{
                                     position: relative;
                                     height: 28px;
                                     width: 28px;
                                     left: 40px;
                                     color: red;
                                     a{
                                             height: 28px;
                                        }
                                 }
                          
                       }
              }
          }
       }
       .edit-pops{
        // display: none;
        // visibility: hidden;
        left: 35%;
        // top: 10%;
        background-color: #f7f7f7;
        position:fixed;
        width: 500px;
        justify-content: center;
        border: 0.1px solid green;
        border-radius: 5px;
        .edit-pops-header{
                padding: 10px;
                display: flex;
                justify-content: space-between;
                border-bottom: 0.2px solid green;
                color: green;
                font-size: 16px;
                font-weight: 600;
        }
        .editform{
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: start;
          .fm{    
                  width: 94%;
                  display: flex;
                  margin: auto;
                  justify-content: space-between;
                  text-align: right;
                  h4{
                          width: 30%;
                          height: 30px;
                        //   margin-top: 10px;
                          text-align: right;
                  }
                 .vip{
                        width: 60%;
                        input{  
                                width: 100%;
                                background-color: #f7f7f7;
                                border: 0.1px solid lightgrey;
                                height: 30px;
                                padding: 0px 10px 0px 10px;
                                margin-top:20px;
                                color: black;
                                font-size: 17px;
                                font-weight: 500;
                                border-radius: 5px;
                         }
                         textarea{
                                 width: 100%;
                                background-color: #f7f7f7;
                                border: 0.1px solid lightgrey;
                                position: relative;
                                padding: 0px 10px 0px 10px;
                                margin-top:10px;
                                margin-right: 0px;
                                box-sizing: border-box;
                                color: black;
                                font-size: 17px;
                                resize: vertical;
                                font-weight: 500;
                                border-radius: 5px;
                         }
                 }
        
        }
         #pro-pic{
                 width: 100%;
                padding:3px;
                color: salmon;
         }
         #upload-profile{
                background-color: salmon;
                color: white;
                width: 450;
                border: none;
                height: 30px;
                padding: 0px 10px 0px 10px;
                margin:auto;
                border-radius: 5px;
         }
    }
  } 
}
