.notification-bar {
  position: relative;
  width: 50%; }
  .notification-bar .chatting {
    position: relative;
    width: 100%;
    height: 350px;
    display: none;
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 1px 0px 1px; }
    .notification-bar .chatting .chatting-box {
      text-align: center;
      width: 100%;
      height: 100%; }
      .notification-bar .chatting .chatting-box .message-header {
        color: white;
        margin: 0px;
        display: flex;
        justify-content: space-between; }
        .notification-bar .chatting .chatting-box .message-header .user-name {
          position: relative;
          left: 5px; }
        .notification-bar .chatting .chatting-box .message-header .remove-message-box {
          border: none;
          padding: 0;
          margin: 0;
          background: none;
          position: relative;
          color: white;
          right: 5px; }
      .notification-bar .chatting .chatting-box .messages {
        list-style: none;
        padding: 5px;
        margin: 0;
        height: 70%;
        background-color: white;
        overflow: auto;
        border-radius: 10px; }
        .notification-bar .chatting .chatting-box .messages .other-message {
          text-align: left;
          padding: 5px; }
          .notification-bar .chatting .chatting-box .messages .other-message span {
            display: inline-block;
            padding: 10px;
            background-color: lightgray;
            border-radius: 10px; }
        .notification-bar .chatting .chatting-box .messages .self-message {
          text-align: right;
          padding: 5px; }
          .notification-bar .chatting .chatting-box .messages .self-message span {
            border-radius: 10px;
            display: inline-block;
            padding: 10px;
            background-color: lightskyblue; }
      .notification-bar .chatting .chatting-box .mesg-sendd {
        height: 55%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border-radius: 10px;
        padding: 0;
        padding-top: 10px; }
        .notification-bar .chatting .chatting-box .mesg-sendd #messges-input {
          height: 20%;
          width: 80%;
          font-size: 15px;
          border-radius: 10px;
          border: 0;
          padding: 5px; }
          .notification-bar .chatting .chatting-box .mesg-sendd #messges-input:focus {
            outline: none; }
        .notification-bar .chatting .chatting-box .mesg-sendd #sent {
          height: 18%;
          width: 13%;
          color: white;
          border: 1px white solid;
          padding: 2px;
          border-radius: 10px;
          background: black; }
          .notification-bar .chatting .chatting-box .mesg-sendd #sent:focus {
            outline: none; }
          .notification-bar .chatting .chatting-box .mesg-sendd #sent:hover {
            cursor: pointer; }
