.head {
  top: 0;
  margin: 0;
  background-color: #211f1f;
  border-bottom: 0.2px lightgrey solid;
  padding: 0;
  width: 100%;
  box-sizing: inherit;
  position: fixed;
  text-overflow: ellipsis;
  z-index: 1000; }
  .head .headers {
    font-family: sans-serif;
    color: #e9ebee;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between; }
    .head .headers a {
      color: white;
      text-decoration: none;
      margin: 0; }
      .head .headers a #app-name {
        display: inline-flex;
        padding: 5px; }
        .head .headers a #app-name h2 {
          border-radius: 5px;
          margin: 10 0 10 0;
          border: white 1px solid; }
    .head .headers .user-profile {
      margin: 10;
      padding: 0;
      margin-right: 10px;
      list-style: none;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-box-orient: horizontal;
      justify-content: space-between; }
      .head .headers .user-profile .profile-img {
        height: 28px;
        display: flex;
        -webkit-box-orient: vertical; }
        .head .headers .user-profile .profile-img img {
          padding: 5px;
          border: 0.5px white solid; }
        .head .headers .user-profile .profile-img #name {
          padding: 10px; }
      .head .headers .user-profile .profile-status {
        padding: 10px; }
      .head .headers .user-profile .offline {
        display: inline; }
