.head {
  top: 0;
  margin: 0;
  background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  border-bottom: 2px white solid;
  padding: 0;
  width: 100%;
  box-sizing: inherit;
  position: fixed;
  text-overflow: ellipsis;
  z-index: 1000; }
  .head .headers {
    font-family: sans-serif;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 10px;
    justify-content: space-between; }
    .head .headers a {
      color: white;
      text-decoration: none;
      margin: 0; }
      .head .headers a #app-name {
        display: inline-flex;
        padding: 5px; }
        .head .headers a #app-name h2 {
          border-radius: 5px;
          margin: 10 0 10 0;
          border: white 3px solid; }
    .head .headers .user-profile {
      margin: 10;
      padding: 0;
      margin-right: 10px;
      list-style: none;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-box-orient: horizontal;
      justify-content: space-between; }
      .head .headers .user-profile .profile-img {
        height: 28px;
        display: flex;
        -webkit-box-orient: vertical; }
        .head .headers .user-profile .profile-img img {
          padding: 5px;
          border: 1px white solid; }
        .head .headers .user-profile .profile-img #name {
          padding: 10px;
          font-size: 1rem;
          font-weight: 700; }
      .head .headers .user-profile .profile-status {
        padding: 10px;
        font-size: 1rem;
        font-weight: 700; }
      .head .headers .user-profile .offline {
        display: inline; }
