main {
  display: inline-block; }
  main #post-layout {
    background-color: white;
    border: 0.1px #e9ebee solid;
    margin: -9px; }
    main #post-layout section {
      background-color: #e9ebee;
      padding: 0; }
      main #post-layout section div h3 {
        margin-left: 10px; }
      main #post-layout section #new-post-form {
        margin: 0;
        margin-left: 20px; }
        main #post-layout section #new-post-form #post-text {
          width: 80%;
          border-radius: 20px; }
          main #post-layout section #new-post-form #post-text #post-text:focus {
            outline: none; }
        main #post-layout section #new-post-form .sub-post #post-submit {
          background-color: black;
          color: #e9ebee;
          width: 50px;
          padding: 0;
          border: 0;
          margin: 5px;
          border-radius: 2px; }
    main #post-layout .posts .post-s .post-content {
      background-color: #e9ebee;
      width: 80%;
      border: 0.1px black solid;
      border-radius: 5px; }
    main #post-layout .posts .post-s .post-comments {
      width: 80%;
      background-color: #e9ebee; }
