main #post-layout {
  background-color: white;
  border: 0.1px #e9ebee solid;
  margin: -9px; }
  main #post-layout section {
    background-color: #e9ebee;
    padding: 0; }
    main #post-layout section div h3 {
      margin-left: 10px; }
    main #post-layout section #new-post-form {
      margin: 0;
      margin-left: 20px; }
      main #post-layout section #new-post-form #post-text {
        width: 80%;
        border-radius: 5px; }
        main #post-layout section #new-post-form #post-text #post-text:focus {
          outline: none; }
        main #post-layout section #new-post-form #post-text::placeholder {
          margin-left: 20px; }
      main #post-layout section #new-post-form .sub-post #post-submit {
        background-color: black;
        color: #e9ebee;
        width: 50px;
        padding: 0;
        border: 0;
        margin: 5px;
        border-radius: 2px;
        cursor: pointer; }
  main #post-layout .posts {
    width: 95%; }
    main #post-layout .posts ul {
      list-style: none; }
    main #post-layout .posts .post-s {
      margin: 10px;
      border: 1px lightgrey solid;
      border-radius: 5px; }
      main #post-layout .posts .post-s .post-user {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        font-size: 14px; }
      main #post-layout .posts .post-s .post-content {
        margin: 10px;
        background-color: #e9ebee;
        border-radius: 5px; }
      main #post-layout .posts .post-s .post-comments {
        border-top: 0.1px lightgrey solid; }
        main #post-layout .posts .post-s .post-comments .comment-form {
          margin: 20px; }
          main #post-layout .posts .post-s .post-comments .comment-form .add-comment {
            border: 0;
            padding: 0;
            height: 22px;
            background-color: black;
            border-radius: 5px;
            color: white;
            cursor: pointer; }
            main #post-layout .posts .post-s .post-comments .comment-form .add-comment:hover {
              background-color: lightgrey;
              color: black;
              transition: 0.5s; }
        main #post-layout .posts .post-s .post-comments .post-comments-list li small {
          color: #003923;
          background-color: #e9ebee;
          padding: 5px;
          border-radius: 5px; }
        main #post-layout .posts .post-s .post-comments .post-comments-list .comment-content {
          background-color: #e9ebee;
          width: 90%;
          padding: 7px;
          border-radius: 5px; }
