#post-layout {
  background-color: rgba(var(--b3f, 250, 250, 250), 1);
  border: 0.1px #f3f3f6 solid;
  display: flex;
  padding-top: 64px;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  #post-layout .create-post {
    width: 50%; }
    #post-layout .create-post .posting {
      background-color: #f3f3f6;
      padding: 0;
      width: 100%;
      position: inherit;
      border: 1px solid lightgrey;
      z-index: 12; }
      #post-layout .create-post .posting h3 {
        width: 90%;
        border: 2px solid lightgrey;
        left: 3%;
        position: relative;
        padding: 5px; }
    #post-layout .create-post #new-post-form {
      width: 90%;
      margin: 0;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row; }
      #post-layout .create-post #new-post-form #post-text {
        width: 80%;
        border-radius: 5px; }
        #post-layout .create-post #new-post-form #post-text:focus {
          outline: none; }
        #post-layout .create-post #new-post-form #post-text::placeholder {
          margin-left: 20px; }
      #post-layout .create-post #new-post-form .submit-post #post-submit {
        position: relative;
        background-color: black;
        color: #e9ebee;
        width: 50px;
        padding: 5px;
        border: 0;
        left: 20%;
        top: 10%;
        border-radius: 2px;
        cursor: pointer; }
    #post-layout .create-post .posts {
      width: 95%;
      align-items: center; }
      #post-layout .create-post .posts ul {
        list-style: none;
        margin: 0;
        padding: 0;
        padding: 30px; }
      #post-layout .create-post .posts .post-s {
        padding: 10px;
        border: 1px black solid;
        border-radius: 5px;
        position: relative;
        margin: px; }
        #post-layout .create-post .posts .post-s .post-header .image {
          border-radius: 50%; }
        #post-layout .create-post .posts .post-s .post-header .post-user {
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: bold;
          font-size: 15px;
          position: relative;
          top: -8px; }
        #post-layout .create-post .posts .post-s .post-content {
          padding: 10px;
          background-color: grey;
          color: white;
          border-radius: 5px; }
        #post-layout .create-post .posts .post-s .post-comments {
          padding: 0;
          border-top: 0.5px lightgrey solid; }
          #post-layout .create-post .posts .post-s .post-comments .comment-form {
            padding: 10px;
            margin: 0; }
            #post-layout .create-post .posts .post-s .post-comments .comment-form .add-comment {
              border: 0;
              padding: 0;
              height: 22px;
              background-color: black;
              border-radius: 5px;
              color: white;
              cursor: pointer; }
              #post-layout .create-post .posts .post-s .post-comments .comment-form .add-comment:hover {
                background-color: lightgrey;
                color: black;
                transition: 0.5s; }
          #post-layout .create-post .posts .post-s .post-comments .post-comments-list {
            padding: 10px; }
            #post-layout .create-post .posts .post-s .post-comments .post-comments-list li small {
              color: #003923;
              background-color: #e9ebee;
              padding: 5px;
              border-radius: 5px;
              font-weight: bold;
              font-size: 12px; }
            #post-layout .create-post .posts .post-s .post-comments .post-comments-list .comment-content {
              background-color: #e9ebee;
              width: 90%;
              padding: 7px;
              border-radius: 5px; }
