body {
  margin: 0;
  background-color: lightgrey;
  font-family: sans-serif; }
  body #header {
    width: 100%;
    position: fixed;
    z-index: 1; }
  body .body {
    width: 50%;
    display: inline-block;
    left: 25%; }
