body {
  margin: 0;
  background-color: lightgrey;
  font-family: sans-serif,monospace; }
  body #header {
    position: sticky;
    z-index: 1; }
  body .body {
    position: relative; }
  body .footer {
    position: sticky;
    background-attachment: fixed; }
