main {
  text-align: center;
  display: flex;
  padding: 200px;
  background-image: url("../images/sm.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: space-between; }
  main .title-name {
    width: 60%;
    background-color: #ffffff82;
    top: 20px;
    position: relative;
    border-radius: 10px; }
    main .title-name .Title {
      padding: 8px;
      background-color: #0000008f;
      color: white; }
    main .title-name .description {
      color: black; }
  main .sign-in {
    position: relative;
    top: 20px;
    height: 250px;
    width: 300px;
    padding: 50px;
    background-color: #000000c7;
    border-radius: 10px;
    text-align: center;
    display: inline-block; }
    main .sign-in h1 {
      margin: 0;
      padding-bottom: 30px;
      color: white; }
    main .sign-in .form-div {
      width: 100%;
      position: relative; }
      main .sign-in .form-div .sign-in-form {
        display: inline-block;
        padding: 8px;
        width: 90%;
        border: 0.5px white solid;
        border-radius: 10px; }
        main .sign-in .form-div .sign-in-form input {
          width: 100%;
          height: 30px;
          padding: 5px;
          border: 0;
          border-radius: 5px; }
        main .sign-in .form-div .sign-in-form #email {
          margin-bottom: 8px; }
        main .sign-in .form-div .sign-in-form #pass {
          margin-bottom: 8px; }
        main .sign-in .form-div .sign-in-form #submit {
          background-color: grey;
          font-weight: bold;
          border-radius: 10px; }
      main .sign-in .form-div .google-sign {
        height: 60px; }
        main .sign-in .form-div .google-sign a {
          color: blanchedalmond; }
          main .sign-in .form-div .google-sign a::after {
            content: " Sign in with Google";
            font-weight: 700;
            font-size: 20px; }
