main .user-profile {
  width: 100%;
  top: 60px;
  position: relative;
  text-align: center;
  box-sizing: content-box; }
  main .user-profile .profile-page {
    position: relative;
    border: 0.1px solid black;
    max-width: 935px;
    text-align: center;
    display: inline-block;
    padding: 20px 10px 0 10px; }
    main .user-profile .profile-page .profile-image {
      position: relative; }
      main .user-profile .profile-page .profile-image img {
        box-shadow: 12px 12px 15px 0 rgba(0, 0, 0, 0.25);
        border: 2px wheat ridge; }
    main .user-profile .profile-page .user-details .name {
      font-size: 28px; }
    main .user-profile .profile-page .edit-profile-button {
      width: 80%;
      height: 30px;
      padding: 3px;
      background-color: transparent;
      border: 1px solid  navy;
      border-radius: 4px; }
    main .user-profile .profile-page .editform {
      display: none;
      height: 200px;
      position: relative;
      padding: 20px 10px 0 10px;
      width: 100%; }
      main .user-profile .profile-page .editform input {
        width: auto;
        border: 0.5px solid lightgrey;
        height: 30px;
        padding: 0 10px 0 10px;
        border-radius: 3px; }
        main .user-profile .profile-page .editform input:focus {
          outline: none; }
